body {
    text-align: center;
    background: #f2f2f2;
}

.content {
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

table {
    margin: auto;
    width:	80%;
    padding 10px;
}

table.td.side {
    width: 40%;
}

fieldset {
    border: 0;
}

.chart {
    position : relative;
    margin : 0 auto;
    width: 900px;
    height: 300px
}

.timer {
    text-align: center;
}